# Keep track only on selected files
/*

# bash config
!/.bashrc
!/.bash_aliases

# Git config
!/.gitignore

# needs to include directory for subdirectory
!/.config/
/.config/*

# list of package to install
!/.config/install.txt

# tmux config
!/.config/tmux

# neovim config
!/.config/nvim
/.config/nvim/lazy-lock.json
